<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>493</integer>
		<key>height</key>
		<integer>651</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>explosion-big-air</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>420</integer>
			<key>height</key>
			<integer>252</integer>
		</dict>
		<key>explosion-big-ground</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>252</integer>
			<key>width</key>
			<integer>492</integer>
			<key>height</key>
			<integer>351</integer>
		</dict>
		<key>explosion-small-ground</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>601</integer>
			<key>width</key>
			<integer>430</integer>
			<key>height</key>
			<integer>50</integer>
		</dict>
	</dict>
</dict>
</plist>
