<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>880</integer>
		<key>height</key>
		<integer>181</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>entities-tank-base</key>
		<dict>
			<key>x</key>
			<integer>400</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>478</integer>
			<key>height</key>
			<integer>42</integer>
		</dict>
		<key>entities-rocket</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>102</integer>
			<key>width</key>
			<integer>400</integer>
			<key>height</key>
			<integer>79</integer>
		</dict>
		<key>entities-tank-canon</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>845</integer>
			<key>height</key>
			<integer>102</integer>
		</dict>
	</dict>
</dict>
</plist>
